*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    z-index: 99;
    background-image: url("https://i.pinimg.com/736x/81/b9/06/81b906d01ce4740e041f4c6b8c5708c3.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
#page1 button{
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.453);
    position: absolute;
    left: 1%;
    top: 1%;

}
a{
    font-size: 10px;
    font-family: 900;
    color: black;
    text-decoration: none;
  
}


nav{
    height: 100%;
    width: 100%;
     /* background-color: brown; */
   position: relative;
    position: absolute;
    top: 10%;
} 
#heading{
    font-size: 50px;
    font-weight: 800;
    padding-left:10%;
    padding-top: 15%;
    
}

#heading::after{
    content: " ";
    position: absolute;
    width:32%;
    height: 4px;
    background-color: black;
    left: 10%;
    bottom: 10;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: 0.25 ease-in;
}

@keyframes anime {
    0%{
        width: 0;
        left: 10%;
        rotate: 0deg;
    }
    50%{
        width: 32%;
        left: 10%;
        rotate: 360deg;
    }
    100%{
        width: 0;
        left: 10%;
        rotate: 360deg;
    }
}
#box1{
    height: 60%;
    width: 50%;
    background-color: black;
    position: absolute;
    left: 45%;
    top: 20%;
    border-radius: 10px;
    border: 10px solid rgba(0, 0, 0, 0.587);
    background-color: rgba(20, 14, 16, 0.442);
    filter: drop-shadow(10px 20px 2px  rgba(17, 13, 14, 0.326) );
}
#box1 h1{
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    margin-top: 7px;
    color: white;
}
#box1 h2{
    font-size: 40px;
    font-weight: 900;
    padding-left: 10px;
    margin-top: 7px;
    color: white;
   width: 40%;
    background-color: rgba(0, 0, 0, 0.348);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(10),
    cursor .4s step-end infinite alternate;
    transition: ease-in;
    transition-duration: 2s;
    transition-delay: 1s;

}
@keyframes cursor {
    50%{ border-color:transparent} 
}
@keyframes typing {
    from {width:0}
}


